.btn-signup{
    width: auto !important;
    padding: 10px 20px !important;
}
.signup_page-tologin{
 margin-top: 20px;
 padding-right: 0px !important;
 margin-bottom: 0px !important;
}
.signup_page-right{
    padding: 0px !important;
}